<table
  id="dtBasicExample"
  class="table table-striped table-bordered table-sm"
  cellspacing="0"
  width="100%"
>
  <thead>
    <tr>
      <th class="th-sm">First Name</th>
      <th class="th-sm">Last Name</th>
      <th class="th-sm">Avatar</th>
      <th class="th-sm">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let record of records; let i = index">
      <th class="th-sm">{{ record.first_name }}</th>
      <th class="th-sm">{{ record.last_name }}</th>
      <th class="th-sm">
        <img [src]="record.avatar" alt="Image not found" />
      </th>
      <th class="th-sm">
        <a  [routerLink]="['/recordlist/',i]">Edit | </a>
        <a (click)="deleteRecord(i)" [routerLink]="['/recordlist']">Delete</a>
      </th>
    </tr>
  </tbody>
</table>
<nav aria-label="...">
  <ul class="pagination">
    <li
      class="page-item"
      *ngFor="let index of numberofpages"
      [ngClass]="{ active: index == activatedPage }"
    >
      <a
        class="page-link"
        [routerLink]="['/recordlist']"
        (click)="getRecord(index)"
        >{{ index }}</a
      >
    </li>
  </ul>
</nav>
